openapi: 3.0.0
servers:
  - description: Soile Backend API
    url: https://soile-server.nbe.aalto.fi/
info:
  description: This is the Backend API for the Soile webservice.
  version: "1.0.0"
  title: Soile Backend API
  contact:
    email: thomas.pfau@aalto.fi
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: login
    description: Anything connected to login and registration
  - name: project
    description: Operations associated with a project.
  - name: study
    description: Anything to do with running projects / project instances.
  - name: participation
    description: Operations that are used by participants of a project.
  - name: exeriment
    description: Operations associated with experiments
  - name: user
    description: Operations associated with user modifications
  - name: task
    description: Operations associated with Task operations including requests for task ressources etc.
paths:
  /register:
    post:
      tags: 
        - login 
        - user
      summary: Register a new user. 
      operationId: registerUser
      description: Create a new user for the platform. 
      responses:
        '201':
          description: User created
        '400':
          description: bad input. Can be user already exists, email already exists or similar.
        '409':
          description: User (or email) already exists in the user database. 
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationInformation'
        description: The data for the user to be created (at least, username, password and email are required necessary).          
  /password/request_reset:
    post:
      tags: 
        - login 
        - user
      summary: Ask for a password reset link for a user. 
      operationId: resetPassword
      description: Ask for a password reset id for a user
      responses:
        '200':
          description: Request received.
        '400':
          description: bad input. 
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetInformation'
        description: The information necessary to request a password reset
        
  /password/one_time_auth:
    post:
      tags: 
        - login 
        - user
      summary: Use a one time token for authentication 
      operationId: oneTimeAuth
      description: Authenticates the user with a one-time password
      parameters:
        - name: token
          in: query
          required: true
          description: The one time token obtained via a reset password request.
          schema:
            type : string
      responses:
        '200':
          description: Authenticated.
        '400':
          description: bad input. 
        '409':
          description: Token invalid. 
                
  /test/auth:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags: 
        - login 
      summary: Test whether the login is successfull, if successfull indicates the authenticated user.
      operationId: testAuth
      responses:
        '200':
          description: User authenticated successfully
          content: 
            application/json:
                schema:
                  type: object
                  properties:
                    authenticated: 
                      type: boolean
                      description: true if authenticated, false if not.
                    user: 
                      type: string
                      example: "Admin"
                    roles:
                      type: array
                      items:
                        type: string
                        example: "Admin"
        '401':
          description: No user authenticated
  /login:
    post:
      tags: 
        - login 
      summary: Login as a user
      operationId: loginUser
      description: Log in as a user, receive an access token.
      responses:
        '200':
          $ref: '#/components/responses/LoginSuccessful'     
        '400':
          description: bad input parameter
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
                type: object
                properties:
                  username: 
                    type: string
                    description: the username
                  password: 
                    type: string
                    description: the password
                  remember:
                    type: string
                    description: whether to create a cookie to remember the login for more than a session.. has to be "1" or "0"
                    example: "1"
          application/json:
            schema:
              type: object
              properties:
                username: 
                  type: string
                  description: the username
                password: 
                  type: string
                  description: the password
                remember:
                  type: string
                  description: whether to create a cookie to remember the login for more than a session.. has to be "1" or "0"
                  example: "1"
        description: Login Data, containing username and password in the same schema as the User. 
  /logout:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
        - {} # Security on this endpoint is optional. Calling this in an authenticated manner will add a participant to the user. Calling it in a non authenticated manner will create a token that can be used for future authentication.
      tags: 
        - login 
      summary: Logout, invalidating all cookies currently in use.
      operationId: logout
      description: Log out invalidating all cookies and sessions currently in use
      responses:
        '200':
          description: Lgout successfull
        '400':
          description: bad input parameter
                
  /user/list:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - user
      summary: Get a list of users
      operationId: listUsers
      description: |
        Get a list of users with properties and users listed depending on the level of access of the request
      parameters:
        - in: query
          name: searchString
          description: pass an optional search string for looking up users
          required: false
          schema:
            type: string
        - in: query
          name: type
          description: restrict to a specific type of user (PARTICIPANT / USER / RESEARCHER / ADMIN) 
          required: false
          schema:
            type: string
        - in: query
          name: skip
          required: false
          description: number of records to skip for pagination
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          name: limit
          required: false
          description: maximum number of records to return
          schema:
            type: integer
            format: int32
            minimum: 0
      responses:
        '200':
          description: search results matching criteria, content depends on the access level of the request.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserInfo'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: bad input parameter
  /user/create:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - user
      summary: Create a user
      operationId: createUser
      description: Adds a user to the system
      responses:
        '201':
          description: User created
        '400':
          description: 'invalid input, object invalid'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          $ref: '#/components/responses/UserExists'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: The data for the user to be created (at least, username, password and email are required necessary).
  /user/delete:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - user
      summary: Create a user
      operationId: removeUser
      description: Remove a user from the system. Must either be requested by the user or an authorized user (i.e. Admin)).
      responses:
        '202':
          description: User deleted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/UserDoesNotExist'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username: 
                  type: string
                  description: the username of the user to delete
                deleteFiles:
                  type: boolean
                  description: "Whether to delete all information for this user from any projects"
  /user/getinfo:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - user
      summary: Get details of a user
      operationId: getUserInfo
      description: Get the details of a user (not the password obviously).
      parameters:
        - name: username
          in: query
          required: true
          description: Username for which info is requested
          schema:
            type : string
            
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictedUserInfo'
          description: The details of the user, no password is supplied... 
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/UserDoesNotExist'
  /user/setinfo:          
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - user
      summary: Set details of a user
      operationId: setUserInfo
      description: Set the details of a user.
      requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictedUserInfo'
          description: The details of the user, no password is supplied... 
      responses:
        '200':
          description: "Successful update"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictedUserInfo'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/UserDoesNotExist'
          
  /user/activeprojects:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - user
      summary: Get the active Projects of a authed user.
      operationId: getUserActiveProjects
      description: This POST will return a list of unique IDs for which the authenticated user has access.
      responses:
        '200':
          description: "Request successfull, returning list of active projects"
          content:
            application/json:
              schema:
                type: array
                items: 
                  type: string
                  example: "Project 2"
                  description: "a list of UUIDs of all projects the authenticated user is participating in."
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/UserDoesNotExist'
          
  /user/setpassword:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - user
      summary: Set password of a user
      operationId: setPassword
      description: Set the password of a user.
      requestBody:
          content:
            application/json:
              schema:
                type: object
                required:
                  - username
                  - password
                properties:
                  username:
                    type: string
                    example: MyUser
                    description: Must not include any @ symbols
                  password:
                    type: string
                    description: the new password
          description: The details of the user, no password is supplied... 
      responses:
        '200':
          description: "Successful update"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/UserDoesNotExist'
  /user/setrole:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - user
      summary: Set the access groups of a user account. 
      operationId: setRole
      description: Set the role of a user account.Only Admins can set roles
      responses:
        '200':
          description: Role updated
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: 'User has no authorization to make this call'
        '410':
          $ref: '#/components/responses/UserDoesNotExist'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: MyUser
                  description: Must not include any @ symbols
                role:
                  type: string
                  example: "Admin"
  /user/setpermissions:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - user
      summary: Set the access groups of a user account. 
      operationId: permissionChange
      description: Set the roles and permissions of a user account. Admins can set all groups/permissions, users can set permissions for Experiments they own.
      responses:
        '200':
          description: Roles updated
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: 'User has no authorization to make this call'
        '410':
          $ref: '#/components/responses/UserDoesNotExist'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: MyUser
                  description: Must not include any @ symbols
                command:
                  type: string
                  example: 'set'
                  description: the type of change. set will replace any permissions currently present (only admins can do this), add will add permissions (can be called by a user who has full permission for the relevant resources), remove will remove them (same as add).
                permissionsProperties:
                  type: object
                  properties:
                    elementType: 
                      type: string
                      description: "whether the permission is a 'TASK', 'PROJECT', 'EXPERIMENT' or 'INSTANCE'"
                      example: "instance"
                    permissionSettings:
                      $ref : '#/components/schemas/PermissionsSettings'
                    
        description: With command set to setCommand, body needs both permissions and roles and will replace permissions, if the requestor has the permissions to do so.
                     With add/delete Command only the added or deleted Roles/permissions need to be supplied.
  /user/getaccess:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - user
      summary: Get the permissions of a specified user. 
      operationId: permissionOrRoleRequest
      description: Get the permissions of a specified user.
      parameters:
        - name: username
          in: query
          required: true
          description: Username for which info is requested
          schema:
            type : string
            
      responses:
        '200':
          $ref: '#/components/responses/AccessOfUser'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/UserDoesNotExist'
  /task/list:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Get a list of all tasks.
      operationId: getTaskList
      description: Get a list of all public tasks, a task could be private, in which case it is only shown, if the user has access.
      parameters:
        - name: full
          in: query
          required: false
          description: Admin toggle that allows admins to list all available elements
          schema:
            type: boolean
      responses:
        '200':
          description: A List of tasks, with names and IDs
          content:
            application/json:
              schema:
                type: array
                items: 
                  type: object
                  properties:
                    UUID: 
                      type: string
                      example: "1234567"
                    name:
                      type: string
                      example: "Task 1"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call
  /task/codeoptions:
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Get a list of all supported Code types and versions.
      operationId: getCodeOptions
      description: Retrieve the list of available code types supported by the backend. Includes the versions of those types along with the mimetypes 
      responses:
        '200':
          description: A List of tasks, with names and IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name: 
                      type: string
                      description: name of the option
                      example: "QMarkup"
                    versions:
                      type: array
                      items: 
                        type: string
                        description: version strings
                        example: "1.0"
                    mimetype: 
                      type: string
                      description: mimetype of the returned code.
                      example: "application/json"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call         
  /task/{id}/{version}/gettag:
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Get the tag for the task at the specified version (if any))
      operationId: getTagForTaskVersion
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the requested task, can be either a tag or a commit id or latest, which would refer to the latest commit. 
          schema:
            type : string
      responses:
        '200':
          description: The task version tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  tag:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'
  /task/{id}/list:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Get a list of all tagged versions of a specific task
      operationId: getVersionsForTask
      description: Get a list of all tagged versions of a task, a task could be private, in which case access can be denied
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task for which versions are requested
          schema:
            type : string
      responses:
        '200':
          description: A List of tasks versions, with Tags and Date information
          content:
            application/json:
              schema:
                type: array
                items: 
                  type: object
                  properties:
                    tag: 
                      type: string
                      example: "Version 1"
                    version:
                      type: string
                      example: "1234567"
                      description: "A string representing a version ID"
                    date:
                      type: number
                      example: 123456789
                      description: "Timestamp in long format.."
                
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist' 
  /task/{id}/removetags:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: remove tags for a specific task (does not delete the versions)
      operationId: removeTagsForTask
      description: Removes the specified tags from the task, so that the corrsponding versions are no longer associated with the tag. 
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task for which versions are requested
          schema:
            type : string
      responses:
        '200':
          description: "success"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'    
      requestBody:
        content: 
          application/json:
            schema:
              type: array
              items:
                type: string
                description: the tags to remove
                example: "Initial Version"
  /task/{id}/delete:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Delete a task (it will no longer be available for editing, but existing projects using it will still be able to use it)
      operationId: deleteTask
      description: Removes the specified Task from the server. It will no longer be accessible for editing, but projects currently using it will still work.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task for which versions are requested
          schema:
            type : string
      responses:
        '200':
          description: "success"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'    
          
  /task/{id}/{version}/addtag:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Add a tag to a version that doesn't have a tag yet.
      operationId: addTagToTaskVersion
      description: Add a tag to a version that doesn't have one yet.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task to remove
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the task
          schema:
            type : string
      responses:
        '200':
          description: Tag was added
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '409':
          description: "Name already exists" 
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'                        
      requestBody:
        content: 
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new Tag
                  example: "Initial Version"
  /task/{id}/{version}/filelist:
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Get a list of all files for the given task at the given version
      operationId: getTaskFileList
      description: Obtain a list of allfiles available for a given task at a given version.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task for which versions are requested
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the task
          schema:
            type : string            
      responses:
        '200':
          description: A List of Files as a Json Array. Folders are represented as JsonObjects
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/FileDirectory'
                
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'
  /task/{id}/{version}/download:  
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Download the Task.
      operationId: downloadTask
      description: "This request will return a zipped version of the task, with all resources in a resoue folder and a config and code file."
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task to download
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the tas to download
          schema:
            type : string
                        
      responses:
        '200':
          description: A tar file containing the requested task
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call   
  /task/upload:  
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Build a Task based on an uploaded zip file
      operationId: uploadTask
      description: "This end point requires the provision of a zip file containing the data for a task. The Zip file needs to contain all Files required for the task along with a config.cfg and a source.code file which contain the properties and the code of the task respectively. The configuration MUST contain the language and version of the task."
      parameters:
        - name: name
          in: query
          required: true
          description: Name of the task
          schema:
            type : string
        - name: tag
          in: query
          required: true
          description: Tag to be used for this version.
          schema:
            type : string
                        
      responses:
        '200':
          description: A tar file containing the requested task
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid: 
                    type: string
                    description: the UUID of the created task
                  version: 
                    type: string
                    description: The version of the created task.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call         
      requestBody:
        content:
          application/zip:
              schema:
                type: string
                format: binary
  /task/create:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Create a new task
      operationId: createTask
      description: Create a new empty task and get a UUID as well as an initial version for it.
      parameters:
        - name: name
          in: query
          required: true
          description: Name of the Task
          schema:
            type : string
            
        - name: codeType
          in: query
          required: true
          description: Code type
          schema:
            type : string
            example: "javascript"
            description: The type of code used for this task. This is not changeable after creation.
        - name: codeVersion
          in: query
          description: Version of the code used for the task.
          schema:
            type : string
            example: "2022.2.5"
            description: The version of the codeType used. 
      responses:
        '200':
          description: New Task created
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          description: "Name already exists" 
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
  /task/{id}/{version}/get:
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Get the specified task at the specified version
      operationId: getTask
      description: Get the specifications of a task
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task
          schema:
            type : string
            
        - name: version
          in: path
          required: true
          description: version of the requested task, can be either a tag or a commit id
          schema:
            type : string
            
      responses:
        '200':
          description: The task specification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'  
  /task/{id}/{version}/post:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Update a Task 
      operationId: updateTask
      description: Updates the task with the provided code. 
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task
          schema:
            type : string
            
        - name: version
          in: path
          required: true
          description: version of the task to update
          schema:
            type : string
            
      responses:
        '200':
          $ref: '#/components/responses/ObjectUpdated'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'  
      requestBody:
        content:
          application/json:
            schema:
             $ref: '#/components/schemas/Task'
        description: In addition to the required fields, this submission also needs a tag. Otherwise the only way to obtain this version again is by providing the returned version id.
        
  /task/{id}/{version}/execute:
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Get the executable code for the task at this version.
      operationId: getExecution
      description: Get the executable code for the task
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the requested task, can be either a tag or a commit id
          schema:
            type : string
      responses:
        '200':
          description: The executable code for the task.
          content: 
            application/json:
              schema: 
                description: the json for qmarkup generation; TODO better spec
                type: object
                properties:
                  title: 
                    type: string
            application/javascript:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'  
  /task/compile:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Compile code for execution and return the compiled code.
      operationId: compileCode
      description: Get the executable code for the task
      responses:
        '200':
          description: The executable code for the submitted source code.
          content: 
            application/json:
              schema: 
                description: the json for qmarkup generation; TODO better spec
                type: object
                properties:
                  title: 
                    type: string
            application/javascript:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code: 
                  type: string
                type:
                  type: string
                  
  /task/{id}/{version}/execute/lib/*:  
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Get a library for a task
      operationId: getLibForTask
      description: >-
                   Get libraries required for the specified task. This routes to 
                   all possible libs that might be required (i.e. they only need to be installed once to make them available.)
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project instance
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the requested task, can be either a tag or a commit id
          schema:
            type : string
      responses:
        '200':
          description: Success
          content:
            application/javascript:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call
        '406':
          description: User is finished.

  /task/{id}/{version}/execute/*:
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Get Other data for the currentTask of the participant
      operationId: getResourceForTaskExecution
      description: >- 
                   This end point provides "static" data for the current task of the participant. This allows a proxy to simply 
                   Access /run/{id}/some/File to access resources. 
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project instance
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the requested task, can be either a tag or a commit id
          schema:
            type : string
      responses:
        '200':
          description: Success
          content:
            application/javascript:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call
        '406':
          description: User is finished.  
  
  
  /task/{id}/{version}/resource/*:
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Get the specified resource for the task at the given version
      operationId: getResource
      description: Get a resource from a task. 
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task
          schema:
            type : string
            
        - name: version
          in: path
          required: true
          description: version of the requested task, can be either a tag or a commit id
          schema:
            type : string
      responses:
        '200':
          description: The requested file, headers set according to the file name/type. 
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'   
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - task
      summary: Put a resource to a task at a specific version
      operationId: putResource
      description: Update or add a file to the specified task if a folder is being used, the file from the upload is being placed in the corresponding folder. The * path parameter can either be a folder (ending with /) or a file. If a file is used only one upload file is allowed and the upload will automatically be assigned to the file name (in the folder) specified. If it is a folder, multiple files can be uploaded and will be placed in the folder with their respective names and pathes.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the requested task, can be either a tag or a commit id
          schema:
            type : string
        - name: delete
          in: query
          required: false
          schema:
            type: boolean
          description: Whether the current call is for the deletion of a existing file
      responses:
        '200':
          $ref: '#/components/responses/ObjectUpdated'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'  
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  description: The file(s) to be uploaded.
                  type: array
                  items:
                    type: string
                    format: binary

  /project/testfilter:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - project
      summary: Test whether a given filter has valid syntax. 
      operationId: isFilterValid
      description: test whether a string can be used as filter
      responses:
        '200':
          description: Whether the filter can be used
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid: 
                    type: boolean
                  value:
                    type: number
                  error: 
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filter: 
                  type: string
                  example: "element1 + element2 > 4"
                parameters:
                  type: object
                  example: {element1 : 1, element2 : 1}

  /project/{id}/delete:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - project
      summary: Delete a project (it will no longer be available for editing, but existing projects using it will still be able to use it)
      operationId: deleteProject
      description: Removes the specified project from the server. It will no longer be accessible for editing, but studies currently using it will still work.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the project to remove
          schema:
            type : string
      responses:
        '200':
          description: "success"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'    
          
  /project/list:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - project
      parameters:
        - name: full
          in: query
          required: false
          description: toggle that allows admins to list all available elements
          schema:
            type: boolean
      summary: Get a list of all projects.
      operationId: getProjectList
      description: Get a list of all projects which you have general access to.
      responses:
        '200':
          description: A List of Projects, with names and IDs
          content:
            application/json:
              schema:
                type: array
                items: 
                  type: object
                  properties:
                    UUID: 
                      type: string
                      example: "1234567"
                    name:
                      type: string
                      example: "Project 1"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
          
  /project/{id}/list:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - project
      summary: Get a list of all versions of a specific Project
      operationId: getVersionsForProject
      description: Get a list of all Versions of a Project, can be denied if no access to project.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task for which versions are requested
          schema:
            type : string
            
      responses:
        '200':
          description: A List of project versions, with Tags and Date information
          content:
            application/json:
              schema:
                type: array
                items: 
                  type: object
                  properties:
                    tag: 
                      type: string
                      example: "Version 1"
                    version:
                      type: string
                      example: "1234567"
                      description: "A string representing a version ID"
                    date:
                      type: number
                      example: 123456789
                      description: "Timestamp in long format.."
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'
  /project/{id}/removetags:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - project
      summary: remove tags for a specific project (does not delete the versions)
      operationId: removeTagsForProject
      description: Removes the specified tags from the project, so that the corrsponding versions are no longer associated with the tag. 
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task for which versions are requested
          schema:
            type : string
      responses:
        '200':
          description: "success"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'    
      requestBody:
        content: 
          application/json:
            schema:
              type: array
              items:
                type: string
                description: the tags to remove
                example: "Initial Version"
  /project/{id}/{version}/addtag:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - project
      summary: Add a tag to a version that doesn't have a tag yet.
      operationId: addTagToProjectVersion
      description: Add a tag to a version that doesn't have one yet.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the project for which versions are requested
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the project
          schema:
            type : string
      responses:
        '200':
          description: Tag was added
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '409':
          description: "Name already exists" 
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'                  
      requestBody:
        content: 
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new Tag
                  example: "Initial Version"
  /project/create:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - project
      summary: Create a new task
      operationId: createProject
      description: Create a new poject and get a UUID as well as an initial version for it.
      parameters:
        - name: name
          in: query
          required: true
          description: Name of the Project
          schema:
            type : string
            
      responses:
        '200':
          description: New Project created providing a UUID. 
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '409':
          description: "Name already exists"
  /project/{id}/{version}/get:
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - project
      summary: Get the specified Project at the specified version
      operationId: getProject
      description: Get a project at the specified version (commonly latest).
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task
          schema:
            type : string
            
        - name: version
          in: path
          required: true
          description: version of the requested task, can be either a tag or a commit id or latest, which would refer to the latest commit. 
          schema:
            type : string
            
      responses:
        '200':
          description: The task specification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist' 
  /project/{id}/{version}/post:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - project
      summary: Update a Project 
      operationId: updateProject
      description: Updates the The project with the provided 
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
        - name: version
          in: path
          required: true
          description: version of the project to update, this will make this version the latest version.
          schema:
            type : string
            
      responses:
        '200':
          $ref: '#/components/responses/ObjectUpdated'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist' 
      requestBody:
        content:
          application/json:
            schema:
             $ref: '#/components/schemas/Project'
        description: In addition to the required fields, this submission also needs a tag. Otherwise the only way to obtain this version again is by providing the returned version id.      
  /project/{id}/{version}/gettag:
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - project
      summary: Get the tag for the project at the specified version (if any))
      operationId: getTagForProjectVersion
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the project
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the requested project, can be either a tag or a commit id or latest, which would refer to the latest commit. 
          schema:
            type : string
      responses:
        '200':
          description: The project version tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  tag:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'       
  /study/{id}/data/list:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: Get a list of result data downloadable for the specific project
      operationId: listDownloadData
      description: "Get a list of all data that is available for a project. There are multiple different pieces of data, which can be available and which will be listed, that include: 1. Form-Data, which is all data that can be directly obtained from questionaires clicks etc (i.e. any small-scale data). 2. Video data, for each participant. 3. Audio Data for each participant. 4. binary data for each participant (in whichever format it was stored in). Data is associated with tasks in the experiment."
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
      responses:
        '200':
          description: A json containing identifiers for all data in the experiment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableDataScheme'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
  /project/{id}/{version}/init:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - project
        - study
      summary: start a Study
      operationId: startStudy
      description: Start a Study based on the project identified, making it available to the outside world. 
                   Once a study is started the started instance cannot be modified any more. 
                   You can delete a started instance, or stop it, but it is fixed at a version of the project.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
        - name: version
          in: path
          required: true
          description: version of the project to update, this will make this version the latest version.
          schema:
            type : string
            
      responses:
        '200':
          description: Project was successfully initilized
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectID: 
                    type: string
                    description: The projectid of the active project, to be used with all end-points that have {id} path names
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - private
                - name
              properties:
                private: 
                  type: boolean
                  description: Whether special access is required for this project
                name: 
                  type: string
                  description: a name for the instance. Must be unique or it will fail.
                description:
                  type: string
                  description: Some description about the project. Will be displayed at signup.
                shortDescription:
                  type: string
                  description: Some description about the project. Will be displayed at signup.
                shortcut:
                  type: string
                  description: a shortcut that can be used to more easily access the contents.
        description: This can be an empty body, then the whole data is requested.
  /study/listrunning:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
        - {} # Security on this endpoint is optional. Allows listing of active, public projects by anyone (and thus signing up to those projects).
      tags:
        - study
      summary: Get a list of all projects.
      operationId: getRunningStudies
      description: Get a list of all projects which are currently running and that you have access to.
      responses:
        '200':
          description: A List of Projects, with names and IDs
          content:
            application/json:
              schema:
                type: array
                items: 
                  type: object
                  properties:
                    UUID: 
                      type: string
                      example: "1234567"
                    name:
                      type: string
                      example: "Project 1"
                    language: 
                      type: string
                      example: "en"
                    description: 
                      type: string
                      example: "This is a new project"
                    shortDescription:
                      type: string
                      example: "This is a new project"
                    shortcut: 
                      type: string
                      example: "newShortcut2"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
          
  /study/list:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: Get a list of all Studies you have access to (i.e. more than executing them).
      operationId: getStudyList
      description: Get a list of all studies that you have access to.
      parameters:
        - name: access
          in: query
          required: false
          description: What type of access the user should have to the project, default is any (i.e. execute is sufficient to list the project)
          schema:
            type: string
        - name: full
          in: query
          required: false
          description: Admin toggle that allows admins to list all available elements
          schema:
            type: boolean
      responses:
        '200':
          description: A List of Projects, with names and IDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
          
  /study/{id}/stop:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: stop a project
      operationId: stopStudy
      description: Stop a project, disabling the project from execution.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
      responses:
        '200':
          description: Project was successfully stopped
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist' 
          
  /study/{id}/collaborators:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: Get the people who have researcher access to this project (i.e. who have at least read access)
      operationId: getCollaboratorsForStudy
      description: Get the collaborators. 
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
      responses:
        '200':
          description: The list of collaborators along with their access levels, only usernames will be provided.
          content:
            application/json:
              schema:
                type: array
                items: 
                  type: object
                  properties:
                    user: 
                      type: string
                      description: The username
                    access:
                      type: string
                      description: the access level to this study, either READ / READ_WRITE or FULL
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'           
  /study/{id}/start:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: restart a project that was previously stopped
      operationId: restartStudy
      description: Restarting a previously stopped project. 
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
      responses:
        '200':
          description: Project was successfully restarted
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist' 
  /study/{id}/delete:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: Delete a project instance and all associated data. 
      operationId: deleteStudy
      description: "DANGER: This endpoint will delete ALL data associated with the given project. 
                    It will stop the project from execution and will irreversibly delete all participant 
                    information currently stored for this project instance."
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
      responses:
        '200':
          description: Project was successfully deleted.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist' 
          
  /study/{id}/reset:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: Reset a study.
      operationId: resetStudy
      description: "DANGER: This endpoint will delete ALL data associated with the given study. 
                    It will will irreversibly delete all participant 
                    information currently stored for this study."
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
      responses:
        '200':
          description: Project was successfully reset.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist' 
          
          
  /study/{id}/data:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: Get the result data for a project  
      operationId: getStudyResults
      description: "This is the general access point for data retrieval for projects. A simple request without any body will generate one huge tar file with all data while individual files can be requested using the same scheme as returned under the   /project/{id}/data/list endpoint. This post will return an ID that can then be downloaded via /project/{id}/download/{downloadid}, where a tar file is waiting for download."
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
      responses:
        '200':
          description: a json containing the download ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  downloadID: 
                    type: string
                    description: An id that can be used with the /project/{id}/download/{downloadid} endpoint. Has to have the form of a UUID
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call        
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObtainDataScheme'    
        description: This can be an empty body, then the whole data is requested.  
  /study/{id}/download/{downloadid}:  
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: Download the collected results from a request.
      operationId: downloadResults
      description: "This request will make a zipped data file available for download. NOTE: Upon request, the file might not exist yet, and is just being created. Files will be cleared reguarily to avoid massive buildup of intermediary tar files."
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
        - name: downloadid
          in: path
          required: true
          description: UUID of the download
          schema:
            type : string
                        
      responses:
        '200':
          description: A tar file containing the requested data
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call                     
  /study/{id}/download/{downloadid}/check:  
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: Check, whether the specified download is ready.
      operationId: downloadTest
      description: This Request tests, whether the specified download is ready. A Json will be replied to indicate whether the download creation was successfull/failed or is still in progress.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
        - name: downloadid
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
                        
      responses:
        '200':
          description: Status of the download
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                properties:
                  status: 
                    type: string
                    description: The status of the download. 
                  problems:
                    type: array
                    items: 
                      type: string
                      description: Textual descriptions of issues that arose during creation of this download.
                    description: can be empty or not existant in which case no issues happened
                    
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call    
          
  /study/{id}/submit:  
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - participation
      summary: submit data for the current task of the authorized user in the project
      operationId: submitResults
      description: "Submit results for a job using a json, containing both output data and result data. Result data needs to point to file ids generated from the uploaddata endpoint or be contained in a flat json object depth 1). Output data needs to be provided in a flat json object as well. Calling this will finish this task and proceed the user to the next task. The reply contains the new task for this user. "
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
      responses:
        '200':
          description: Submission succesful
          
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call            
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskData'
              
  /study/{id}/getcurrenttaskinfo:  
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - participation
      summary: Get the next unfinished task for the authorized user. 
      operationId: getTaskInfo
      description: "Get the ID and type of the current task for the authorized user, or get informed, that this this user has nothing more to do in this project."
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties: 
                  id:
                    type: string
                    description: the instanceID of the task of the current user
                  codeType:
                    type: object
                    properties:
                      language:
                        type: string
                        description: the code type (javascript for psychoJS, qmarkup or elang for soile questionaire markup and experiment language)
                        example: "qmarkup"
                      version: 
                        type: string
                        description: the version of the code type.
                        example: "1.0"
                  outputs:
                    type: array
                    items: 
                      type: string
                  persistent:
                    type: array
                    items: 
                      type: string
                  participantID: 
                    type: string
                    description: The id of this participant, so that it can be used in tasks. 
                  finished:
                    type: boolean
                    description: Whether this project is finished. clear indicator that this is finished in addition to the next property being undefined.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call

  /study/{id}/getpersistent:  
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - participation
      summary: Get the persistent data for the authed user/participant for the given project
      operationId: getPersistentData
      description: "Get the persistent data for the authed user to be used in tasks"
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Free form object with key/value pairs."
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call          
          
  /study/{id}/getcurrenttaskid:  
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - participation
      summary: Get the ID of the current task of the participant
      operationId: getID
      description: >-
                   This endpoint provides the relevant code for the current task for the participant.  
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project instance or the shortcut for the project instance
          schema:
            type : string
      responses:
        '200':
          description: Success
          content:
            application/javascript:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call
        '406':
          description: User is finished.          
  
  /run/{id}/{taskID}:  
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - participation
      summary: Get the next unfinished task for the authorized user. 
      operationId: runTask
      description: >-
                   This endpoint provides the relevant code for the current task for the participant.  
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project instance or the shortcut for the project instance
          schema:
            type : string
        - name: taskID
          in: path
          required: true
          description: the UUID of the task that is being run
          schema:
            type : string
      responses:
        '200':
          description: Success
          content:
            application/javascript:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call
        '406':
          description: User is finished.

  /run/{id}/{taskID}/lib/*:  
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - participation
      summary: Get a library for a project
      operationId: getLib
      description: >-
                   Get libraries required for the specified task. This routes to 
                   all possible libs that might be required (i.e. they only need to be installed once to make them available.)
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project instance or the shortcut for the project instance
          schema:
            type : string
        - name: taskID
          in: path
          required: true
          description: the UUID of the task that is being run
          schema:
            type : string
        
      responses:
        '200':
          description: Success
          content:
            application/javascript:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call
        '406':
          description: User is finished.

  /run/{id}/{taskID}/*:
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - participation
      summary: Get Other data for the currentTask of the participant
      operationId: getResourceForExecution
      description: >- 
                   This end point provides "static" data for the current task of the participant. This allows a proxy to simply 
                   Access /run/{id}/some/File to access resources. 
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project instance or the shortcut for the project instance
          schema:
            type : string
        - name: taskID
          in: path
          required: true
          description: the UUID of the task that is being run
          schema:
            type : string
      responses:
        '200':
          description: Success
          content:
            application/javascript:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call
        '406':
          description: User is finished.
          
  /study/{id}/signup:  
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - {} # Security on this endpoint is optional. Calling this in an authenticated manner will add a participant to the user. Calling it in a non authenticated manner will create a token that can be used for future authentication.
      tags:
        - participation
      summary: signUp for a project with a one-time signUp Code. 
      operationId: signUpForProject
      description: >-
                   Sign up to a study
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project instance
          schema:
            type : string
        - name: token
          in: query
          schema:
            type: string
          required: false
      responses:
        '200':
          description: The authenticated user is now signed up.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    description: a token that needs to be used for further authentication against participation end points to   associate results and data with a specific user.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: Code invalid
        '406':
          description: User is finished.

  /study/{id}/withdraw:  
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - participation
      summary: withdraw from a study
      operationId: withdrawFromStudy
      description: >-
                   Withdraw from a study
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project instance
          schema:
            type : string
      responses:
        '200':
          description: The user had been withdrawn from the study and all data has been deleted.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: Code invalid
        '406':
          description: User is finished.
          
  /study/{id}/createtokens:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: create accesstokens for the project
      operationId: createTokens
      description: >-
                   Create access tokens that can be used to invite people to the project
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project instance
          schema:
            type : string
        - name: count
          in: query
          schema:
            type: integer
        - name: unique
          in: query
          description: If true, a general master access token is generated, which can be used multiple times and cannot be traced. Signing up with this token returns a temporary token 
          schema:
            type: boolean
      responses:
        '200':
          description: A Set of access tokens generated for the given project. 
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                      description: Access tokens usable with the project.
                  - type: string
                    description: A Master access token
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: Not authorized to create tokens
        '410':
          description: The project does (no longer) exist.
  
  /study/{id}/tokeninfo:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - study
      summary: get Information about tokens in the study
      operationId: getTokenInformation
      description: >-
                   Create access tokens that can be used to invite people to the project
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project instance
          schema:
            type : string
      responses:
        '200':
          description: Information about the tokens currently in use in the project
          content:
            application/json:
              schema:
                type: object
                properties:
                  permanentAccessToken:
                    type: string
                    description: The master token (anonymous registration if private) for the project
                  signupTokens:
                    type: array
                    items: 
                      type: string  
                      description: individual tokens
                  usedTokens: 
                    type: array
                    items: 
                      type: string  
                      description: Tokens that were available in the project but have already been used for registration
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: Not authorized to create tokens
        '406':
          description: User is finished.
  
  /study/{id}/uploaddata:  
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - participation
      summary: Upload large result data for a project
      operationId: uploadData
      description: "Upload large content for a participant. The data must be for the current task of the authenticated user in the project indicated."
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
      responses:
        '200':
          description: Upload finished successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: the UUID of the uploaded file to be resupplied to /project/{id}/submit. Has to have the form of a UUID
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call            
      requestBody:
        content:
          application/binary:
            schema:
              type: string
              format: binary
              description: the file to upload
              
  /study/{id}/update:  
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - study
      summary: Update a study. Note, the underlying project Can only be changed while there are no participants in the study, 
      operationId: updateStudy
      description: "Update an existing study"
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
            
      responses:
        '200':
          description: Update successfull
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid or change in project, while already got participants'
        '403':
          description: User has no authorization to make this call            
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyiableStudyProperties'
  /study/{id}/get:  
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
        - tokenAuth: []
      tags:
        - study
      summary: Get the properties of a study. 
      operationId: getStudyProperties
      description: "Update an existing study"
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the Project
          schema:
            type : string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyiableStudyProperties'
          description: Update successfull
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call            

  /experiment/list:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - experiment
      summary: Get a list of all experiments.
      operationId: getExperimentList
      description: Get a list of all experiments which you have general access to.
      parameters:
        - name: full
          in: query
          required: false
          description: Admin toggle that allows admins to list all available elements
          schema:
            type: boolean
      responses:
        '200':
          description: A List of experiments, with names and IDs
          content:
            application/json:
              schema:
                type: array
                items: 
                  type: object
                  properties:
                    UUID: 
                      type: string
                      example: "1234567"
                    name:
                      type: string
                      example: "Experiment 1"
                
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
  /experiment/{id}/{version}/gettag:
    get:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - experiment
      summary: Get the tag for the experiment at the specified version (if any))
      operationId: getTagForExperimentVersion
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the experiment
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the requested experiment, can be either a tag or a commit id or latest, which would refer to the latest commit. 
          schema:
            type : string
      responses:
        '200':
          description: The experiment version tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  tag:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'        
  /experiment/{id}/list:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - experiment
      summary: Get a list of all versions of a specific experiment
      operationId: getVersionsForExperiment
      description: Get a list of all Versions of a experiment, can be denied if no access to experiment.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task for which versions are requested
          schema:
            type : string
            
      responses:
        '200':
          description: A List of experiment versions, with Tags and Date information
          content:
            application/json:
              schema:
                type: array
                items: 
                  type: object
                  properties:
                    tag: 
                      type: string
                      example: "Version 1"
                    version:
                      type: string
                      example: "1234567"
                      description: "A string representing a version ID"
                    date:
                      type: number
                      example: 123456789
                      description: "Timestamp in long format.."  
                
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'
  /experiment/{id}/removetags:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - experiment
      summary: remove tags for a specific experiment (does not delete the versions)
      operationId: removeTagsForExperiment
      description: Removes the specified tags from the experiment, so that the corrsponding versions are no longer associated with the tag. 
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the task for which versions are requested
          schema:
            type : string
      responses:
        '200':
          description: "success"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'    
      requestBody:
        content: 
          application/json:
            schema:
              type: array
              items:
                type: string
                description: the tags to remove
                example: "Initial Version"  
  /experiment/{id}/delete:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - experiment
      summary: Delete an Experiment (it will no longer be available for editing, but existing projects using it will still be able to use it)
      operationId: deleteExperiment
      description: Removes the specified Experiment from the server. It will no longer be accessible for editing, but projects currently using it will still work.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the experiment to remove
          schema:
            type : string
      responses:
        '200':
          description: "success"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'    
          
  /experiment/{id}/{version}/addtag:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - experiment
      summary: Add a tag to a version that doesn't have a tag yet.
      operationId: addTagToExperimentVersion
      description: Add a tag to a version that doesn't have one yet.
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the experiment for which versions are requested
          schema:
            type : string
        - name: version
          in: path
          required: true
          description: version of the experiment
          schema:
            type : string
      responses:
        '200':
          description: Tag was added
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '400':
          description: 'invalid input, object invalid'
        '409':
          description: "Name already exists" 
        '403':
          description: User has no authorization to make this call 
        '410':
          $ref: '#/components/responses/ResourceDoesNotExist'   
      requestBody:
        content: 
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new Tag
                  example: "Initial Version"
  /experiment/create:
    post:
      security:
        - cookieAuth: []
        - JWTAuth: []
      tags:
        - experiment
      summary: Create a new task
      operationId: createExperiment
      description: Create a new empty task and get a UUID as well as an initial version for it.
      parameters:
        - name: name
          in: query
          required: true
          description: UUID of the task
          schema:
            type : string
            
[...]
